<h2 mat-dialog-title>Edit Record</h2>
<mat-dialog-content>
  <ui-description-type-select
    class="f"
    [required]="true"
    [value]="descriptionType"
    [default_value]="data.description"
  ></ui-description-type-select>
  <ui-input-field
    [value]="bankOpCode"
    class="h"
    type="number"
    label="Insert Bank Op. Code"
    [textArea]="true"
    [required]="true"
  ></ui-input-field>
</mat-dialog-content>
<mat-dialog-actions class="actions" align="end">
  <div>
    <ui-button
      [full_width]="true"
      icon="check"
      [bg_white]="true"
      (onClick)="onClick()"
      >Confirm</ui-button
    >
  </div>
  <div>
    <ui-button
      [full_width]="true"
      icon="cancel"
      [bg_white]="true"
      (click)="dialogRef.close(false)"
      >Cancel</ui-button
    >
  </div>
</mat-dialog-actions>
