 @use '@angular/material' as mat;

 @include mat.core();

 $background-blue: #3736d3;

 $monnet-primary-palette: (
   50: #e8eaf6,
   100: #c5cae9,
   200: #9fa8da,
   300: #7986cb,
   400: #6777ef,
   500: #3d5afe,
   // Color principal
   600: #304ffe,
   700: #283593,
   800: #1a237e,
   900: #0d47a1,
   A100: #8c9eff,
   A200: #536dfe,
   A400: #3d5afe,
   A700: #304ffe,
   contrast: (50: rgba(black, 0.87),
     100: rgba(black, 0.87),
     200: rgba(black, 0.87),
     300: white,
     400: white,
     500: white,
     600: white,
     700: white,
     800: white,
     900: white,
     A100: rgba(black, 0.87),
     A200: white,
     A400: white,
     A700: white,
   )
 );

 $primary: mat.define-palette($monnet-primary-palette, A700);
 $secondary: mat.define-palette($monnet-primary-palette, 400);

 $primary-palette-A700: mat.get-color-from-palette($primary, A700);
 $primary-palette-700: mat.get-color-from-palette($primary, 700);

 $secondary-A400: mat.get-color-from-palette($secondary, A400);
 $secondary-400: mat.get-color-from-palette($secondary, 400);
 $secondary-300: mat.get-color-from-palette($secondary, 300);

 $monnet-theme: mat.define-light-theme((color: (primary: $primary, accent: $secondary, )));

 @include mat.all-component-themes($monnet-theme);